*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    background: linear-gradient(135deg,#cfc3c3,#e6dede);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.container{
    text-align:center;
    animation: aparecer 1.2s ease forwards;
}

@keyframes aparecer{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.titulo1{
    color:white;
    font-size:2rem;
}

.titulo2{
    color:white;
    font-size:2.5rem;
    font-weight:bold;
}

.titulo3{
    color:#ff2e2e;
    font-size:2rem;
    font-weight:bold;
    margin-bottom:20px;
}

.envelope{
    width:180px;
    height:120px;
    background:#ff4d6d;
    position:relative;
    margin:0 auto;
    border-radius:6px;
    animation: subirCarta 1.5s ease forwards;
}

@keyframes subirCarta{
    from{
        transform:translateY(60px);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}

.envelope::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:0;
    border-left:90px solid transparent;
    border-right:90px solid transparent;
    border-top:60px solid #ff758f;
    transform-origin:top;
    animation: abrirSolapa 1.2s ease forwards;
    animation-delay:1.5s;
}

@keyframes abrirSolapa{
    to{
        transform:rotateX(180deg);
    }
}

.letter{
    position:absolute;
    width:160px;
    height:100px;
    background:white;
    top:10px;
    left:10px;
    border-radius:5px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    animation: salirCarta 1.2s ease forwards;
    animation-delay:2.2s;
}

@keyframes salirCarta{
    from{
        transform:translateY(40px);
        opacity:0;
    }
    to{
        transform:translateY(-60px);
        opacity:1;
    }
}

.confetti{
    position:absolute;
    width:8px;
    height:8px;
    background:red;
    top:-10px;
    animation: caer linear infinite;
}

@keyframes caer{
    from{
        transform:translateY(-100vh) rotate(0deg);
    }
    to{
        transform:translateY(100vh) rotate(360deg);
    }
}
